.Rectangle-3 {
    width: 1023px;
    height: 1689px;
    background-color: #f4fffd;
    display: flex;
    justify-content: center;
    margin-left: 150px
  }
  
  .Rectangle-4 {
    width: 884px;
    height: 1549px;
    opacity: 0.71;
    background-color: #ffffff;
    border: solid 1px #011936;
    margin-top: 50px;
    overflow: auto;
  }
  .Rectangle-5 {
    width: 882px;
    height: 130px;
    background-image: linear-gradient(to bottom, #ffd500, #ffaa00);
  }
  .Oval {
    width: 126px;
    height: 126px;
    background-color: #f4fffd;
    border: solid 1px #ffaa00;
    float: left;
    margin-left: 30px;
  }
  .Transform-your-compa-Copy {
    width: 203px;
    height: 70px;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    float: left;
    height: 100;
  }
  h3 {
    height: inherit;
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;
    font-weight: 500;
  }
  h4 {
    height: inherit;
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;
   
  }
  .About-Copy {
    width: 60px;
    height: 35px;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    float: left;
    margin-left: 215px;
    margin-top: 42px;
    
  }
  .Profile-Copy {
    width: 63px;
    height: 35px;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    float: left;
    margin-left: 75px;
    margin-top: 42px;
  }
  .Build-a-Profile {
    width: 516px;
    height: 78px;
    font-family: CircularStd;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #011936;
    text-align: center;
    margin-left: 190px;
    margin-top: 97px;
  }
  .Before-you-start-we {
    width: 381px;
    height: 80px;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #9b9b9b;
    margin-left: 280px;
  }
  input {
    width: 381px;
    height: 40px;
    margin-left: 300px;
    background: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left     no-repeat;
  }
  .-Where-are-you-loc {
    width: 381px;
    height: 25px;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #011936;
    margin-left: 251px;
    padding-bottom: 50px;
    padding-top: 11px;
   
  }
  .Rectangle {
    width: 381px;
    height: 50px;
    background-color: #ffffff;
    border: solid 1px #011936;
    font-weight: 500;
    margin-left: 400px;
    
  }
  .Rectangle1 {
    width: 313px;
    height: 64px;
    border-radius: 32px;
    background-color: #011936;
    margin-left: 334px;
    margin-top: 25px;
    color: white;
    font-size: 30px;
  }
  
  input[type="search"] {
    font-family: FontAwesome;
    margin-left: 311px;
  }
  input[type="textarea"] {
    margin-left: 311px;
  }
  .options {
    margin-left: 254px;
    color: black;
    padding-bottom: 10px;
  }
  