.outer-container {
  width: 545px;
  margin-top: 50px;
  .title {
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #011936;
  }
  .profile-description {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #9b9b9b;
    width: 360px;
    text-align: center;
  }
  form {
    .form-group {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #9b9b9b;
    }
    label {
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #011936;
    }
    .form-check-label {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #011936;
      margin-bottom: 10px;
    }
    .submit-div {
      width: 265px;
      .submit {
        border-radius: 32px;
        background-color: #011936;
        color: white;
        width: 300px;
        height: 50px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .outer-container {
    width: 100%;
    margin-top: 10px;
    .title {
      font-size: 25px;
    }
    .profile-description {
      width: 100%;
      font-size: 18px;
    }
  }
}