<div class="container">
    <h1 class="title">View Your Matched Opportunies!</h1>
    <div class="row no-gutters organization-card mt-3" *ngFor="let organization of organizations">
        <div class="col-4">
            <img [src]="organization.image" class="w-100 origanization-img">
        </div>
        <div class="col-5">
            <p class="name text-truncate">{{organization.name}}</p>
            <p class="address text-truncate">{{organization.address}}</p>
            <p class="description">{{organization.description}}</p>
        </div>
        <div class="col-3">
            <p class="type text-truncate">{{organization.typeOfJob}}</p>
            <button class="signup mt-2">SIGN UP</button>
        </div>
    </div>
</div>