<div class="container">
    <h1 class="title">View Your Matched Opportunies!</h1>
    <div class="row no-gutters organization-card">
        <div class="col-4">
            <img src="https://thumb1.shutterstock.com/display_pic_with_logo/2859520/269978210/stock-vector-logo-template-charity-organization-fund-help-protection-269978210.jpg" class="w-100 h-100">
        </div>
        <div class="col-5">
            <p class="name mt-5 mb-0 text-left">Toronto Animal Services</p>
            <p class="address mt-2 text-left">1300 Sheppard Ave W, North York</p>
            <p class="description mt-4">Help us walk stray dogs—they are super cute and you get a workout too!</p>
        </div>
        <div class="col-3">
            <p class="type text-left mt-5">Dog Walker</p>
            <button class="signup mt-2">SIGN UP</button>
        </div>
    </div>
    <div class="row no-gutters organization-card mt-3">
        <div class="col-4">
            <img src="https://thumb1.shutterstock.com/display_pic_with_logo/2859520/269978210/stock-vector-logo-template-charity-organization-fund-help-protection-269978210.jpg" class="w-100 h-100">
        </div>
        <div class="col-5">
            <p class="name mt-5 mb-0 text-left">Toronto Animal Services</p>
            <p class="address mt-2 text-left">1300 Sheppard Ave W, North York</p>
            <p class="description mt-4">Help us walk stray dogs—they are super cute and you get a workout too!</p>
        </div>
        <div class="col-3">
            <p class="type text-left mt-5">Dog Walker</p>
            <button class="signup mt-2">SIGN UP</button>
        </div>
    </div>
</div>