.middle-section {
    margin-top: 60px;
    .upper-text {
        font-size: 30px;
        font-weight: 700;
        color: #011936;
    }
    .lower-text {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.1px;
        text-align: center;
        color: #9b9b9b;
    }
}
.landing-background {
    background: url('../../assets/Images/landing-page-image.png');
    background-size: cover;
    background-position: center center;
    height: 350px;
}
.get-started {
    button {
        background: #3e3e5f;
        border: navajowhite;
        border-radius: 8px;
        color: white;
        font-weight: 600;
        line-height: 40px;
        width: 230px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 575.98px) {
    .middle-section {
        margin-top: 20px;
        .upper-text {
            font-size: 23px;
        }
    }
    .landing-background {
        height: 243px;
    }
}