<div class="row no-gutters">
    <div class="middle-section mx-auto">
        <p class="text-center upper-text mb-0">
            We connect you with local volunteer 
        </p>
        <p class="text-center upper-text">
            oportunities that suit your passions.
        </p>
        <p class="text-center lower-text">
            Submit an application once and receive  matching opportunies
        </p>
    </div>
</div>
<div class="row no-gutters landing-background mt-2"></div>
<div class="row no-gutters get-started mt-4 mb-4">
    <button class="mx-auto mb-4" routerLink="/profile">GET STARTED</button>
</div>